# Fichiers objets
*.o
# Fichiers dépendances
*.d
# Exécutable principal (produit par make)
cwire
cwire.exe
# Exécutables de test 
*.exe
*.out
# Fichier .dat
c-wildwater_v3.dat

# Fichier tests inutiles
50-10_usine.txt

# Fichiers générés par le programme (CSV de sortie)
############################################
vol_source.csv
vol_max.csv
vol_real.csv
src_max.csv
src_min.csv
temp_top10.csv
temp_min50.csv
leaks.csv

# Fichiers .png générés 
*.png


# Fichiers de débogage et temporaires
############################################
# Fichiers de log/erreurs
*.log
*.err
# Fichiers de dump (si le programme crash)
*.core
# Configuration IDE (Visual Studio Code)
.vscode/
# Fichiers temporaires Windows
Thumbs.db
