# Fichiers objets
*.o
# Fichiers dépendances
*.d
# Exécutable principal (produit par make)
cwire
cwire.exe
# Exécutables de test 
*.exe
*.out

# Fichiers générés par le programme (CSV de sortie)
############################################
vol_source.csv
vol_max.csv
vol_real.csv

# Fichiers .png générés 
*.png


# Fichiers de débogage et temporaires
############################################
# Fichiers de log/erreurs
*.log
*.err
# Fichiers de dump (si le programme crash)
*.core
# Configuration IDE (Visual Studio Code)
.vscode/
# Fichiers temporaires Windows
Thumbs.db
